MSSQL_SA_PASSWORD=change_this_password
JWT_KEY=change_this_to_long_secret_key_at_least_32_chars

SEED_ADMIN_PASSWORD=change_this_admin_password
SEED_AGENT_PASSWORD=change_this_agent_password
SEED_USER_PASSWORD=change_this_user_password